<!-- Begin Newsletter-->
<section id="newsletter" class="newsletter">
    <div class="content-wrapper text-left">
        <div class="col-lg-10 col-lg-offset-1">
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.newsletterAbout }}</p>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0"><b>{{ site.gdpr-warning }}</b>
            </p>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <div id="mce-responses" class="clear">
                <div class="alert alert-success" id="mce-success-response" style="display:none"></div>
                <div class="alert alert-warning" id="mce-error-response" style="display:none"></div>
            </div>
            <form action="https://xyz.us2.list-manage.com/subscribe/post?u=5820c8a379ed2fca4474f6134&amp;id=1fdcdfeb99"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  class="form-horizontal"
                  target="_blank" novalidate>
                <div class="form-group">
                    <label for="mce-EMAIL" class="control-label col-sm-2">E-mail <sup class="mandatory">*</sup>:</label>
                    <div class="col-sm-10">
                        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mce-FNAME" class="control-label col-sm-2">Primeiro nome
                        <sup class="mandatory">*</sup>:</label>
                    <div class="col-sm-10">
                        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mce-LNAME" class="control-label col-sm-2"> Último nome
                        <sup class="mandatory">*</sup>:</label>
                    <div class="col-sm-10">
                        <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" required>
                    </div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_5820c8a379ed2fca4474f6134_1fdcdfeb99" tabindex="-1" value="">
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" id="mc-embedded-subscribe">Submeter
                        </button>
                    </div>
                </div>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = 'EMAIL';
                ftypes[0] = 'email';
                fnames[1] = 'FNAME';
                ftypes[1] = 'text';
                fnames[2] = 'LNAME';
                ftypes[2] = 'text';
                fnames[3] = 'ADDRESS';
                ftypes[3] = 'address';
                fnames[4] = 'PHONE';
                ftypes[4] = 'phone';
                fnames[5] = 'BIRTHDAY';
                ftypes[5] = 'birthday';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    </div>
</section>
<!-- End Newsletter -->